<?xml version="1.0"?>
<robot name="objectZ">
  <link name="objectZ">
    <visual>
      <geometry>
        <mesh filename="package://tetris/meshes/Z.obj" scale="0.03 0.03 0.03"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tetris/meshes/Z.obj" scale="0.03 0.03 0.03"/>
      </geometry>
    </collision>
     <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.000833335" ixy="-0.0005" ixz="0.0" iyy="0.001333335" iyz="0" izz="0.001833335"/>
    </inertial>
  </link>
</robot>
